@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .container-carousel {
    max-width: 980px;
  }
  .promo {
    &__menu {
      margin-left: 30px;
      &-item {
        font-size: 13px;
      }
    }
    &__info {
      margin-left: 34px;
    }
    &__phone {
      font-size: 14px;
    }
    &__btn {
      padding: 16px 20px 16px 20px;
      font-size: 10px;
    }
    &__title {
      font-size: 50px;
      margin-top: 18px;
    }
    &__subtitle {
      font-size: 30px;
      margin-top: 0;
    }
    &__descr {
      &-item {
        width: 240px;
      }
      &-text {
        font-size: 14px;
      }
    }
    .btn-big {
      height: 50px;
      padding: 16px 40px 21px 40px;
      font-size: 14px;
    }
  }
  .advantages {
    padding-top: 50px;
    &__wrapper {
      &-item {
        max-width: 440px;
      }
    }
    .animate__fadeInRight {
      .advantages__wrapper-item {
        &:nth-child(3),
        &:nth-child(4) {
          transform: translateY(17px);
        }
      }
    }
  }
  .job {
    &__wrapper {
      margin: 0 auto;
      grid-template-columns: repeat(3, 290px);
      grid-template-rows: 380px;
      justify-content: center;
    }
    &__item-img {
      width: 100%;
    }
    &__item {
      &-title {
        padding-top: 24px;
      }
    }
  }
  .prices {
    &__wrapper {
      grid-template-columns: repeat(2, 320px);
      grid-template-rows: repeat(2, 360px);
      row-gap: 50px;
      column-gap: 70px;
      justify-content: center;
    }
  }
  .scheme {
    &__wrapper {
      justify-content: space-between;
      &-item {
        width: 240px;
      }
    }
  }
  .reviews {
    padding-bottom: 0px;
    .owl-prev,
    .owl-next {
      left: 380px;
    }
    .owl-next {
      right: 390px;
      left: auto;
    }
  }
  .contacts {
    .divider-footer {
      width: 950px;
    }
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .container-carousel {
    max-width: 740px;
  }
  .promo {
    &__hamburger {
      display: block;
      top: 50px;
      right: 30px;
      height: 17px;
      width: 27px;
      cursor: pointer;
      z-index: 10;
      span {
        display: block;
        width: 100%;
        height: 3px;
        background: $main-color;
        transition: 0.5s all;
        margin-bottom: 3px;
      }
      &-active {
        span {
          &:nth-child(1) {
            margin-bottom: -1.5px;
            transform: translateY(3px) rotate(-45deg);
          }
          &:nth-child(2) {
            display: none;
          }
          &:nth-child(3) {
            transform: translateY(3px) rotate(45deg);
            margin-bottom: -0.5px;
          }
        }
      }
    }
    &__header {
      justify-content: space-evenly;
    }
    &__btn {
      margin-left: 0;
    }
    &__info {
      margin-left: 150px;
    }
    &__main-descr {
      margin-top: 15px;
    }
    &__menu {
      position: fixed;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.9);
      z-index: 10;
      left: -100%;
      transition: all 0.6s;
      top: 0;
      width: 40%;
      min-height: 100vh;
      margin: 0;
      a {
        &:hover {
          text-decoration: none;
        }
        &:before {
          display: none;
        }
      }
      &-active {
        left: 0;
      }
      &-item {
        padding: 0;
        border: 0;
        margin: 10px 0;
      }
    }
    &__circle {
      div {
        &:before {
          width: 300px;
          right: -330px;
        }
        &:after {
          width: 300px;
          left: -330px;
        }
      }
    }
    &__descr {
      margin-top: 30px;
      flex-wrap: wrap;
      justify-content: space-around;
      &-item {
        width: 270px;
        margin-bottom: 15px;
        &:nth-child(4) {
          transform: translateY(2px);
        }
      }
    }
  }
  .advantages {
    &__wrapper-item {
      max-width: 340px;
      padding-top: 15px;
    }
    .animate__fadeInRight {
      .advantages__wrapper-item {
        &:nth-child(2) {
          transform: translateY(-23px);
        }
        &:nth-child(3) {
          transform: translateY(-25px);
        }
        &:nth-child(4) {
          transform: translateY(-7px);
        }
      }
    }
  }

  .job {
    &__wrapper {
      grid-template-columns: 1fr 1fr;
      row-gap: 25px;
    }
    &__item {
      &:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 3;
        width: 410px;
        margin: 0 auto;
      }
    }
  }

  .prices {
    &__wrapper {
      column-gap: 25px;
    }
    input {
      width: 230px;
    }
  }
  .manager {
    &__text {
      width: 720px;
    }
  }
  .scheme {
    &__wrapper-item {
      &:nth-child(4) {
        margin: 0 auto;
        margin-bottom: 17px;
      }
    }
  }
  .reviews {
    .owl-item {
      transform: scale(1);
      opacity: 1;
    }
    .owl-prev,
    .owl-next {
      left: 280px;
    }
    .owl-next {
      left: auto;
      right: 292.5px;
    }
    &__carousel-item {
      width: 100%;
    }
    &__carousel-text {
      width: 700px;
    }
  }
  .questions-form {
    width: 100%;
    input {
      width: 209px;
    }
  }

  .contacts {
    .divider-footer {
      width: 710px;
    }
    &__phone {
      font-size: 14px;
      display: block;
      width: 120px;
    }
    &-img {
      margin-right: 30px;
    }
    &-descr1 {
      width: 300px;
    }

    &__wrapper1 {
      align-items: center;
    }
    &__btn {
      padding-top: 9.5px;
    }
  }
}
