.advantages {
  min-height: 590px;
  background-color: #f3f3f3;
  padding-top: 57px;
  padding-bottom: 51px;
  .container {
    width: 1100px;
  }
  &__wrapper {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    &-item {
      display: flex;
      align-items: flex-start;
      padding-bottom: 36px;
      &:last-child {
        padding-bottom: 0px;
      }
    }
    &-descr {
      padding-left: 18px;
      max-width: 450px;
    }
    &-subtitle {
      font-size: 16px;
      font-weight: 700;
      color: $main-color;
      padding-bottom: 9px;
    }
    &-text {
      font-size: 14px;
      font-weight: 300;
      color: #3a3a3a;
    }
  }
}
