.btn {
  height: 45px;
  background-color: $main-color;
  border: none;

  padding: 16px 24px 16px 24px;
  font-size: 11.5px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 22px;
  text-align: center;
  &:hover {
    transition: all 0.5s;
    background-color: #dc5238;
  }
}

.btn-big {
  height: 57px;
  background-color: $main-color;
  border: none;
  font-size: 15px;
  padding: 20px 45px 21px 45px;
  display: block;
  margin: 0 auto;
  margin-top: 39px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 22px;
  text-align: center;
  text-decoration: none;
}
