.job {
  min-height: 575px;
  padding-top: 51px;
  padding-bottom: 57px;
  .divider {
    margin-bottom: 17px;
  }
  &__descr {
    display: block;
    max-width: 880px;
    font-size: 21px;
    line-height: 24px;
    font-weight: 300;
    color: #2e2e2e;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 37px;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 380px;
    column-gap: 30px;
  }
  &__item {
    margin-bottom: 0px;
    &-title {
      padding-top: 28px;
      font-size: 18px;
      line-height: 22px;
      font-weight: 700;
      color: $main-color;
      padding-bottom: 15px;
      text-align: center;
    }
    &-descr {
      font-size: 14px;
      font-weight: 300;
      color: #3a3a3a;
      margin-bottom: 0px;
    }
  }
}
