.prices {
  padding-top: 53px;
  padding-bottom: 55px;
  min-height: 950px;
  &__descr {
    padding-top: 17px;
    font-size: 21px;
    line-height: 24px;
    font-weight: 300;
    color: #2e2e2e;
    display: block;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
  }
  &__wrapper {
    margin-top: 34px;
    display: grid;
    grid-template-columns: repeat(4, 267px);
    grid-template-rows: 360px;
    column-gap: 26px;
  }
  &__item {
    border: 1px solid #e9e9e9;
    padding: 3px 3px 0 3px;
    overflow: hidden;
    &-wrapper {
      width: calc(200% + 6px);
      display: flex;
    }
    &-content {
      width: 50%;
      transform: translateX(-100%);
      padding-top: 13px;
      padding-bottom: 26px;
      height: 294px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      transition: 0.5s all;
      &_active {
        transform: translateX(0%);
      }
    }
    &-list {
      width: 50%;
      padding: 13px 11px 26px 11px;
      transform: translateX(0%);
      transition: 0.5s all;
      position: relative;
      li {
        position: relative;
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        color: #2e2e2e;
        text-align: left;
        margin-bottom: 10px;
        padding-left: 6px;
        list-style-type: none;
        &:before {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          left: 5px;
          top: 4px;
          background-color: $main-color;
          left: -10px;
        }
      }
      &_active {
        transform: translateX(-100%);
      }
    }

    &-header {
      width: 100%;
      height: 61px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #25333c;
      font-size: 16px;
      line-height: 23px;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;
    }
    &-descr {
      &-title {
        font-size: 14px;
        line-height: 23px;
        font-weight: 400;
        text-transform: uppercase;
        color: #2e2e2e;
        text-align: center;
      }
      &-subtitle {
        font-size: 28px;
        line-height: 30px;
        text-transform: none;
        color: #ec644b;
        text-align: center;
      }
    }
    &-text {
      padding-right: 19px;
      padding-left: 14px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 300;
      color: #2e2e2e;
      text-align: center;
    }
  }
  &__btn {
    display: block;
    width: 160px;
  }
  &__btn-back {
    position: absolute;
    width: 160px;
    display: block;
    bottom: 10px;
    left: 50%;
    transform: translateX(calc(-50% - 5px));
  }
  &__consultation-title {
    font-size: 28px;
    line-height: 23px;
    font-weight: 400;
    color: #3a3a3a;
    margin-top: 55px;
    text-align: center;
  }
  &__consultation-form {
    margin-top: 71px;
    height: 166px;
    border: 1px solid #e9e9e9;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__consultation-img {
    position: absolute;
    height: 102px;
    width: 112px;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -51px;
    background-color: #fff;
  }
  &__consultation-rounded {
    width: 102px;
    height: 102px;
    border: 1px solid #ec644b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 0 5px;
    background-color: #fff;
    position: relative;
    z-index: 5;
    img {
      width: 59px;
      height: 61px;
    }
  }
  &__consultation-btn-padding {
    display: block;
    width: 200px;
    margin: 0 auto;
    position: absolute;
    background-color: #fff;
    z-index: 4;
    top: 143.5px;
  }
  &__consultation-btn {
    display: block;
    margin: 0 auto;
    width: 180px;
    position: relative;
    z-index: 5;
  }

  input {
    width: 270px;
    height: 46px;
    border-radius: 22px;
    border: 1px solid #e9e9e9;
    margin-right: 4px;
    padding-left: 28px;
    &:last-child {
      margin-right: 0;
    }
  }

  .error {
    border: 1px solid red;
  }
  label.error {
    border: none;
    text-align: start;
    margin-bottom: 0px;
  }

  a {
    text-transform: uppercase;
    color: #ffffff !important;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
}
