.promo {
  min-height: 100vh;
  position: relative;
  background: url("../img/promo-plane.png") center center/cover no-repeat;
  background-color: #404040;
  background-blend-mode: multiply;
  &__header {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 23px;
  }
  &__logo {
    width: 96px;
    img {
      width: 100%;
    }
  }
  &__menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    margin-left: 58px;
    &-item {
      border-right: 1px dotted rgba(255, 255, 255, 0.4);
      padding-right: 12px;
      padding-left: 12px;
      font-size: 15px;
      font-weight: 400px;
      a {
        color: #fff;
        text-decoration: none;
        position: relative;
        transition: all 0.3s;
        &:before {
          content: "";
          position: absolute;
          bottom: -4px;
          height: 1px;
          width: 0;
          background-color: $main-color;
          transition: all 0.4s;
        }
        &:hover {
          color: $main-color;
          &:before {
            width: 100%;
          }
        }
      }
      &:last-child {
        border-right: none;
        padding-right: 0;
      }
      &:first-child {
        padding-left: 0px;
      }
    }
  }
  &__info {
    margin-left: 50px;
    color: #fff;
  }
  &__phone {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    &:hover {
      color: $main-color;
      text-decoration: none;
    }
  }
  &__question {
    position: relative;
    font-size: 14px;
    font-weight: 300;
    text-align: right;
  }
  &__btn {
    margin-left: 19px;
    margin-right: auto;
    &-main {
      padding: 23px 45px 23px 45px;
      display: block;
      margin: 0 auto;
      margin-top: 39px;
      height: 57px;
    }
  }
  &__main-descr {
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 0;
  }
  &__title {
    font-size: 70px;
    line-height: 70px;
    font-weight: 700;
    text-transform: uppercase;
    color: $main-color;
    margin-top: 26px;
    text-align: center;
    margin-bottom: 0;
  }
  &__subtitle {
    font-size: 42px;
    line-height: 42px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 9px;
    text-align: center;
    position: relative;
    bottom: 0;
  }
  &__circle {
    margin-top: 38px;
    div {
      position: relative;
      width: 10px;
      height: 10px;
      background: #fff;
      border-radius: 100%;
      margin: 0 auto;
      &:after {
        position: absolute;
        content: "";
        width: 390px;
        background: #fff;
        height: 1px;
        left: -405px;
        top: 5px;
      }
      &:before {
        position: absolute;
        content: "";
        width: 390px;
        background: #fff;
        height: 1px;
        right: -405px;
        top: 5px;
      }
    }
  }
  &__descr {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-item {
      width: 260px;
      &:nth-child(2) {
        transform: translateY(4.5px);
      }
    }
    &-text {
      font-size: 16px;
      line-height: 22px;
      font-weight: 300;
      color: #ffffff;
      margin-top: 19px;
      text-align: center;
    }
    &-img {
      display: block;
      margin: 0 auto;
    }
  }
}
