.questions {
  padding: 62px 0 79px 0;
  min-height: 438px;
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/questions/plane.png") center center/cover no-repeat;
    background-color: #414141;
    opacity: 0.9;
    background-blend-mode: multiply;
    z-index: -5;
  }
  &-form {
    width: 896px;
    min-height: 297px;
    margin: 0 auto;
  }
  &__header {
    width: 100%;
    min-height: 68px;
    background-color: #25333c;
    padding: 20px 0 19px 0;
  }
  &__title {
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin: 0;
  }
  &__subtitle {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin: 0;
  }
  &__body {
    width: 100%;
    min-height: 229px;
    padding: 17px 41px 25px 40px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0.7;
      background-color: #ffffff;
      z-index: -1;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  input {
    width: 270px;
    height: 47px;
    border-radius: 22px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 4px;
    padding-left: 28px;
    background-color: #fff;
    z-index: 5;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
    &::placeholder {
      font-size: 13px;
      font-weight: 300;
      color: #616467;
    }
  }
  textarea {
    width: 815px;
    height: 73px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 6px;
    z-index: 5;
    padding-top: 18px;
    padding-left: 26px;
    resize: none;
    &::placeholder {
      font-size: 13px;
      font-weight: 300;
      color: #616467;
    }
  }
  &__btn {
    display: block;
    margin-top: 16px;
    margin: 0 auto;
  }

  .error {
    border: 1px solid red;
  }
  label.error {
    border: none;
    display: block;
    text-align: center;
  }
}
